# ========================
# Environment Configuration
# ========================

NODE_ENV=

# API Server
API_PORT=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_PORT=
RABBITMQ_MGMT_PORT=
RABBITMQ_VHOST=

# Redis
REDIS_PORT=
REDIS_PASS=

# Postgrs
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# SMTP (Gmail example)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=